body {
  margin: 0;
}

.smythe-regular {
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inter-extra-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  align-items: center;
}

main {
  min-width: 600px;
}

#inner-container {
  margin-top: 30px;
  width: 100%;
}

/* HEADER CSS */

header {
  background-image: url("./images/header-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 600px;
  height: 167px;
  color: #fff;
}

.header-title {
  font-size: 39px;
  padding: 40px 0 0px 40px;
  margin: 0;
  font-weight: 400;
}

.header-sub-title {
  font-size: 22px;
  margin: 0;
  padding: 0 0 0 40px;
  font-weight: 400;
}

/* MENU CSS */

.food-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  padding: 10px 0px;
  border-bottom: 1px #d2d2d2 solid;
}

.food-item-info {
  display: flex;
  justify-content: space-around;
}

.food-item-text {
  padding: 0 auto;
}

.food-item-text p,
h1,
h3 {
  margin: 0;
  padding: 0 0 5px 0;
}

.food-item-text h3 {
  font-weight: 400;
}

.food-item-img {
  width: 70px;
  height: 70px;
  align-items: center;
  margin: 0 10px;
  padding: 0 auto;
}

.food-item-img p {
  font-size: 50px;
  vertical-align: middle;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.addBtn {
  border: 1.5px #dedede solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: none;
  font-size: 32px;
  color: #3c3c3c;
  cursor: pointer;
}

/* ORDER CSS */

.order-checkout-container {
  margin: 10px 30px;
  padding: 0;
}

.inner-checkout-container {
  border-bottom: 2px solid #393333;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.checkout-item-info {
  display: flex;
}

.quantity {
  font-size: 16px;
  color: #41424c;
  padding: 0 5px;
}

.removeBtn {
  background: none;
  border: none;
  margin: 10px 0;
  padding: 0 10px;
  height: 16px;
  color: #bbbbbb;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.priceDiv {
  font-size: 20px;
  display: flex;
}

.total-container,
.discount-container,
.final-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.completeBtn {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #16db99;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin: 30px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* SINGLE CSS CLASSES */

.size28 {
  font-size: 28px;
}

.size20 {
  font-size: 20px;
}

.size16 {
  font-size: 16px;
}

.descColor {
  color: #8b8b8b;
}

.center {
  text-align: center;
}

.padding0 {
  padding: 0;
}

.margin0 {
  margin: 0;
}

.hidden {
  display: none;
}

/* MODAL CSS */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 80%;
  width: 524px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.modal-inner {
  width: 475px;
  margin: 0 auto;
  padding: 0;
}

.modal-title {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 475px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 0px;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 30px 2px whitesmoke;
}

input {
  height: 70px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  border: 1.5px solid #757575;
  color: #757575;
  padding: 0 0 0 20px;
  margin: 5px 0;
}

.payBtn {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #16db99;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* THANKS DIV */

.thanks-div {
  background-color: #ecfdf5;
  color: #065f46;
  border: none;
  border-radius: 3px;
  font-size: 32px;
  text-align: center;
  margin: 30px 30px;
  padding: 0;
}

.thanks-div p {
  margin: 0 0;
  padding: 10px 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0 auto;
  padding: 0;
}

/* RATING CSS */

.star {
  font-size: 40px;
  cursor: pointer;
  color: #666;
}

.star:hover {
  font-size: 50px;
  cursor: pointer;
}

.one {
  color: rgb(255, 0, 0);
}

.two {
  color: rgb(255, 106, 0);
}

.three {
  color: rgb(251, 255, 120);
}

.four {
  color: rgb(255, 255, 0);
}

.five {
  color: rgb(24, 159, 14);
}
